/* styles for the home template*/

.top-header{
    width: 100%;
    min-height: 80px;
    
}

.footer{
    width:100%;
    min-height: 40px;
    position: relative;
}

.footer pre{
    display: inline-block;
    margin: 0px;
}