/*styles for input elements*/

.input-form{
    min-width: 300px;
    text-align: center;
    }

input{
    display: block;
    border-radius: 5px;        
    font-size: 19px;
    padding: 5px;        
    margin-top: 10px;
    position: relative;
}


input[type=text],input[type=email],input[type=password]{
    width: 300px;
    height: 30px;    
    border:0.5px solid #c7c7c7;
    outline: 0px;
}

input[type=submit],.input-button{
    width: 314px;
    height: 44px;
    border: 1px solid #222233;  
    background-color: #fff;  
    margin-bottom: 10px;       
    cursor: pointer; 
}

input[type=submit]:hover,.input-button:hover{
    background-color: #222233;
    color:#fff;
}

input:focus{        
    border:0.5px solid #222233;
    
}

input[type=submit]:disabled,.input-button:disabled{
    background-color: #aaa;
    border-color: #aaa;
    color:#fff;
}

input[type=submit]:disabled:hover,.input-button:disabled:hover{
    cursor: default;
}

.error-text{
    display: inline-block;
    background-color: #e07e7e;
    color: #bd0000;
    margin-bottom: 0px;
    padding: 4px 10px;
    border-radius: 5px;
    display: none;
}

