/* GLOBAL STYLES */

/*local font*/
@font-face{
    font-family: dosis-bold;
    src : url('../resources/fonts/dosis/dosis-bold.ttf');
}

@font-face{
    font-family: dosis-regular;
    src : url('../resources/fonts/dosis/dosis-regular.ttf');
}

@font-face{
    font-family: dosis-light;
    src : url('../resources/fonts/dosis/dosis-light.ttf');
}

@font-face{
    font-family: dosis-medium;
    src : url('../resources/fonts/dosis/dosis-medium.ttf');
}


.site-font-b{
    font-family: dosis-bold;
}

.site-font-r{
    font-family: dosis-regular;
}

.site-font-l{
    font-family: dosis-light;
}

.site-font-m{
    font-family: dosis-medium;
}

*{
    /*default font for all elements*/
    font-family: dosis-regular;
}

.font-large{
    font-size: 30px;
}

.font-medium{
    font-size: 20px;
}

.font-small{
    font-size: 14px;
}

.logo-large{
    font-size: 35px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-fix{
    clear: both;
}

.center-align-in{
    text-align: center;
}

.center-align-bl{
    margin-left:auto;
    margin-right:auto;
}

/*colors*/
.site-accent{

}

.site-accent-bg-dark{
    background-color:#222233;
}

.site-accent-fg{
    color: #fff;
}

/* END OF GLOBAL STYLES */

body{
    margin:0px;
    padding: 0px;
}

.root-container{
    width:100%;
    min-height:850px;
    min-width: 720px;
    background-color: #f1f1f1;
}

.logo-container{
    display: inline-block;
    position: absolute;
    top:50%;
}

.logo-container a{
    text-decoration: none;
}

.content{
    min-width: 700px;
    max-width: 1000px;   
    padding: 0px 10px;
    position: relative;
}

ul.menu{
    margin:0px;
    padding: 0px;
    list-style-type: none;
}

ul.menu li{
    float: left;
}

.border-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 80px;
    min-height: 25px;
    border: 1px solid #fff;
    text-align: center;
    margin:0px 5px;
    padding-top: 4px;
    border-radius: 5px;
    font-family: dosis-medium;
    transition: background-color 0.5s,color 0.5s;;
}

.border-button:hover{
    background-color: #fff;
    color: #222233;
    
}

.link-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 25px;
    margin: 0px 10px;
}

.link-button:hover{
    text-decoration: underline;
    
}

.error-message-container{
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    background: #fd8c84;
    color: #bd0000;
    padding: 10px;    
}

