/* GLOBAL STYLES */

/*local font*/
@font-face{
    font-family: dosis-bold;
    src : url('../resources/fonts/dosis/dosis-bold.ttf');
}

@font-face{
    font-family: dosis-regular;
    src : url('../resources/fonts/dosis/dosis-regular.ttf');
}

@font-face{
    font-family: dosis-light;
    src : url('../resources/fonts/dosis/dosis-light.ttf');
}

@font-face{
    font-family: dosis-medium;
    src : url('../resources/fonts/dosis/dosis-medium.ttf');
}


.site-font-b{
    font-family: dosis-bold;
}

.site-font-r{
    font-family: dosis-regular;
}

.site-font-l{
    font-family: dosis-light;
}

.site-font-m{
    font-family: dosis-medium;
}

*{
    /*default font for all elements*/
    font-family: dosis-regular;
}

.font-large{
    font-size: 30px;
}

.font-medium{
    font-size: 20px;
}

.font-small{
    font-size: 14px;
}

.logo-large{
    font-size: 35px;
}

.logo-medium{
    font-size: 25px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-fix{
    clear: both;
}

.center-align-in{
    text-align: center;
}

.center-align-bl{
    margin-left:auto;
    margin-right:auto;
}

/*colors*/
.site-accent{

}

.site-accent-bg-dark{
    background-color:#222233;
}

.site-accent-fg{
    color: #fff;
}

/* END OF GLOBAL STYLES */

body{
    margin:0px;
    padding: 0px;
}

.root-container{
    width:100%;
    min-height:850px;
    min-width: 720px;
    background-color: #f1f1f1;
}

.logo-container{
    display: inline-block;
    position: absolute;
    top:50%;
}

.logo-container a{
    text-decoration: none;
}

.content{
    min-width: 700px;
    max-width: 1000px;   
    padding: 0px 10px;
    position: relative;
}

ul.menu{
    margin:0px;
    padding: 0px;
    list-style-type: none;
}

ul.menu li{
    float: left;
}



.border-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 80px;
    min-height: 25px;
    border: 1px solid #fff;
    text-align: center;
    margin:0px 5px;
    padding-top: 4px;
    border-radius: 5px;
    font-family: dosis-medium;
    background-color: transparent;
    transition: background-color 0.5s,color 0.5s;;
}

.border-button:hover{
    background-color: #fff;
    color: #222233;
    
}

.link-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 25px;
    margin: 0px 10px;
}

.link-button:hover{
    text-decoration: underline;
    
}

.error-message-container{
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    background: #fd8c84;
    color: #bd0000;
    padding: 10px;    
}

.borderless-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    min-width: 50px;
    min-height: 27px;
    border: 0px;
    text-align: center;
    margin:0px 7px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    font-family: dosis-medium;    
}

.borderless-button:hover{
    background-color: #3a3a56;
}


 .progress{
    width:60px;
    height:60px;
    border-radius:50%;
    border:15px solid transparent;
    border-top:15px solid #222233;
    border-bottom:15px solid #222233;
    display:inline-block;
   
    animation:spin 1s linear infinite;            
}

@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
@-webkit-keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

.text-wrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popup-container{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;  
}

.popup{
    width:500px;
    height:350px;
    background:#f1f1f1;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-175px;
    padding: 20px;
}

.profile-image-circle{
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color: #333;
}