.tabs{
    width: 100%;
}


.tabs ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
} 


.tab-links{
    width: 100%;
    min-height: 50px;
    background-color: #f1f1f1;
}

.tab-content-container{    
}

.tablink{
    display: inline-block;
    padding: 14px 10px;
    text-decoration: none;
    color:#222233;
    width: calc( 100% - 25px); 
    border-left: 5px solid #f1f1f1;    
}

.active-tab{
    border-left: 5px solid #222233;
    background-color: #ddd;
}

.tablink:hover{
    background-color: #ccc;
    border-left: 5px solid #aaa;
}

.tab-content{
    display: none;
    width: 100%;
    min-height: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

.tab-content h2{
    padding: 0px;
    margin:0px;
}

.profile-top{
    width:100%;
    min-height:300px;
    background-color:#EDE7F6;
    position: relative;
}

.profile-top img{
    border-radius:50%;
    width:200px;
    height: 200px; 
    border:5px solid #222233;
    margin: 20px;
    margin-top: 45px;
}

.profile-top>span:first-of-type{
    position: absolute;
    top:110px;
    left: 260px;
    font-size: 35px;
    color: #222233;
}

.profile-top>span{
    position: absolute;
    top:155px;
    left: 260px;
    font-size: 18px;
    color: #555;
}